* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  width: 100%;
}

.header-top {
  max-width: 1800px;
}

.header-top-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: 0 auto;
  margin-right: 116px;
}

.dgb-intro,
.customer {
  border-right: 1px solid #8d8d8d;
  padding-right: 15px;
  color: #8d8d8d;
  text-decoration: none;
}

.login {
  color: #8d8d8d;
  border-right: none;
  text-decoration: none;
}

.header-bottom {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1500px;
  padding: 6px;
  margin: 0 auto;
}

.logo {
  padding: 22px;
}

.menu-list {
  display: flex;
  padding: 6px 0;
}

.menu-list-item {
  padding: 24px;
  margin: 5px;
  font-size: 20px;
  list-style-type: none;
}

.side-menu {
  display: flex;
  padding: 15px;
}

.side-menu-search input {
  position: relative;
}

.side-menu-search button {
  position: absolute;
  top: 76px;
  right: 346px;
  border: none;
  background-color: transparent;
}

.side-menu input {
  padding: 15px;
  border-radius: 25px;
}

.side-menu span {
  padding: 10px;
  margin: 5px;
}

/* main */
/* main section1 */
.main {
  width: 100%;
  padding: 20px 0 62px 0;
  background-color: #ececec;
}

.main-section1 {
  max-width: 1500px;
  margin: 0 auto;
}

.main-banner {
  position: relative;
  width: 1450px;
  height: 400px;
  border-radius: 25px;
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.section1-left {
  position: absolute;
  top: 107px;
  left: 75px;
}

.section1-right {
  position: absolute;
  top: 49px;
  right: 50px;
}

.section1-left span {
  font-size: 30px;
  font-weight: 600;
}

.section1-left h1 {
  font-size: 50px;
}

.section1-left p {
  margin-top: 5px;
  color: #8f8c8c;
  font-size: 22px;
  font-weight: 600;
}

.more {
  margin-top: 10px;
}

.more a {
  color: #006ddf;
  text-decoration: none;
  letter-spacing: -1px;
}

.status-btn {
  margin-top: 50px;
}

.main-section2 {
  max-width: 1500px;
  margin: 0 auto;
}

.section-menu {
  width: 1450px;
  height: auto;
  padding: 7px;
  border-radius: 25px;
  margin-top: 25px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.section-menu-list {
  display: flex;
  justify-content: space-evenly;
  padding: 35px;
}

.section-menu-list-item {
  font-size: 25px;
  font-weight: 600;
  list-style-type: none;
}

.main-section3 {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}

.section-sub-info {
  width: 347px;
  height: 149px;
  border-radius: 25px;
  margin-top: 25px;
  margin-right: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.section-sub-info-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.info-wrap {
  margin: 8px 0 0 15px;
}

.info {
  font-size: 18px;
  font-weight: 700;
}

.info-wrap p {
  font-weight: 700;
}

.main-section4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}

.board-box {
  width: 856px;
  height: auto;
  padding-bottom: 72px;
  border-radius: 25px;
  margin-top: 25px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.app-box {
  width: 560px;
  height: auto;
  border-radius: 25px;
  margin: 25px 20px 0 31px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.title-wrap1,
.title-wrap2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 65px 40px 35px 40px;
}

.title strong {
  font-size: 25px;
}

.title1 {
  margin-right: 20px;
  color: #006ddf;
  font-weight: 600;
}

.title2 {
  color: #716f6f;
  font-weight: 600;
}

.title-wrap1 a {
  color: #716f6f;
  font-size: 18px;
}

.board-list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 0px;
  font-size: 18px;
  font-weight: 600;
}

.board-list span {
  padding: 0px 37px 0 0;
  color: #716f6f;
}

/* DGB대구은행 APP */
.title-wrap {
  font-size: 25px;
}

.content-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.app-icon {
  display: flex;
  flex-direction: column;
}

.im-bank {
  padding-top: 10px;
}

dd {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

/* footer 영역 */
.footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 80px;
}

.footer-inner {
  max-width: 1500px;
  margin: 0 auto;
}

.inner-content-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 30px 0;
}

.content-list1,
.content-list2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

li {
  padding: 10px;
  color: #484747;
  font-size: 16px;
  font-weight: 600;
  list-style-type: none;
}

.re-phone-call {
  color: #000000;
  font-size: 19px;
}

.phone-num {
  color: #006ddf;
  font-size: 20px;
  font-weight: 500;
}

.copyright-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.copyright-info li {
  font-weight: 500;
}

.ebz-wmark {
  padding: 0px;
}

.content-list3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.content-list3 li {
  padding: 10px 35px;
}
